include ../../components/header/header
include ../../components/footer/footer
include ../../components/input/input
include ../../components/modal/modal
include ../../components/twoColComponent/twoColComponent
include ../../components/form/form
include ../../components/form-button/form-button
include ../../components/mainSlider/mainSlider
